.menu__burger {
    height: 28px;
    position: relative;
    top: 50%;
    right: 30px;
    cursor: pointer;
    z-index: 33333333;
}

.menu__burger::before,
.menu__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 29px;
    height: 6px;
    border-radius: 3px;
    left: 0;
}

.menu-2 {
    display: none;
    &::after,
    &::before {
        background-color: #ec9900;
    }

    .menu__burger-line {
        background-color: #ec9900;
    }
}

.menu__burger::after {
    width: 29px;
}

.menu__burger::before {
    top: 0;
}

.menu__burger-line {
    background-color: #fff;
    position: absolute;
    width: 29px;
    height: 6px;
    border-radius: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu__burger::after {
    bottom: 0;
}

.burger__active {
    position: relative;
    z-index: 33333333;
}

.burger__active::before {
    transform: rotate(45deg);

    top: 22px;

    background-color: #fff;
}

.burger__active .menu__burger-line {
    transform: scale(0);
}

.burger__active::after {
    width: 29px;
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
}

.look {
    overflow: hidden;
}
/*-media-*/
@media (max-width: 767px) {
    .menu-2 {
        display: block;
    }
    .menu__burger {
        &::after {
            width: 22px;
            left: 6px;
        }
    }
    .burger__active {
        &::after {
            width: 29px;
            left: 0;
        }
        &::before {
            top: 12px;
        }
    }
}
