.catalog {
    padding: 34px 0 93px;
}

.catalog__wrapp {
    max-width: 840px;
    margin: 0 auto;
    padding: 35px 0;

    h3 {
        font-weight: normal;
        font-size: 29px;
        line-height: 29px;
        text-decoration: underline;
        color: #000;
        padding-bottom: 25px;
    }
}

.catalog__wrapp-inner {
    display: flex;
    justify-content: space-between;
}
.catalog__label {
    position: relative;
    cursor: pointer;
    p {
        font-size: 14px;
        line-height: 41px;
        color: #000;
        &::before {
            content: url("../../assets/img/check.png");
            position: relative;
            top: 3px;
            padding-right: 5px;
        }
    }
}

.catalog__label-check {
    position: absolute;
    opacity: 0;
}

.catalog__label-check:checked + p {
    color: #d56409;
    text-decoration: underline;
    &::before {
        content: url("../../assets/img/check-active.png");
    }
}

.catalog__card-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px 5px;
}

.catalog__row-1 {
    display: flex;
    justify-content: space-between;
}
.catalog__box-img {
    display: flex;
    align-items: center;
}

.catalog__img-inner {
    display: flex;
    flex-direction: column;
    a {
        display: block;
    }
}
.catalog__col-2 {
    max-width: 260px;
    border-left: 1px solid #e2e2e2;
    padding-left: 20px;
}
.catalog__col-1 {
    max-width: 320px;
    margin-right: 20px;
    h3 {
        font-weight: normal;
        font-size: 20px;
        line-height: 12px;
        text-decoration: underline;
        padding-bottom: 3px;
    }
    span {
        font-size: 12px;
        line-height: 12px;
        color: #8f5408;
        padding-bottom: 6px;
    }
    p {
        font-size: 12px;
        line-height: 15px;
    }
}

.catalog__2-inner {
    display: flex;
}

.catalog__2-box {
    padding-left: 12px;
    h3 {
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
    }
    p {
        font-size: 12px;
        line-height: 12px;
        color: #000000;
    }
}

.catalog__2-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        display: block;
        font-size: 12px;
        line-height: 12px;
        color: #000;
        padding-left: 10px;
    }
}

.catalog__2-wrapp-inner {
    display: flex;
    align-items: center;
}

.catalog__row-2 {
    display: flex;
    justify-content: space-between;
}
