.catalog {
    padding: 34px 0 93px;
}

.catalog__wrapp {
    max-width: 840px;
    margin: 0 auto;
    padding-top: 35px;

    h3 {
        font-weight: normal;
        font-size: 29px;
        line-height: 29px;
        text-decoration: underline;
        color: #000;
        padding-bottom: 25px;
    }
}

.catalog__wrapp-inner {
    display: flex;
    justify-content: space-between;
}
.catalog__label {
    position: relative;
    cursor: pointer;
    p {
        font-size: 14px;
        line-height: 41px;
        color: #000;
        &::before {
            content: url("../../assets/img/check.png");
            position: relative;
            top: 3px;
            padding-right: 5px;
        }
    }
}

.catalog__label-check {
    position: absolute;
    opacity: 0;
}

.catalog__label-check:checked + p {
    color: #d56409;
    text-decoration: underline;
    &::before {
        content: url("../../assets/img/check-active.png");
    }
}
.catalog__card {
    margin-top: 30px;
}
.catalog__card-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.catalog__row-1 {
    display: flex;
    justify-content: space-between;
}
.catalog__box-img {
    display: flex;
    align-items: center;
}

.catalog__img-inner {
    display: flex;
    flex-direction: column;
    a {
        display: block;
    }
}
.catalog__col-2 {
    max-width: 280px;
    border-left: 1px solid #e2e2e2;
    padding-left: 20px;
}
.catalog__col-1 {
    max-width: 320px;
    margin-right: 20px;
    h3 {
        font-weight: normal;
        font-size: 20px;
        line-height: 12px;
        text-decoration: underline;
        padding-bottom: 3px;
    }
    span {
        font-size: 12px;
        line-height: 12px;
        color: #8f5408;
        padding-bottom: 6px;
    }
    p {
        font-size: 12px;
        line-height: 15px;
    }
}

.catalog__2-inner {
    display: flex;
}

.catalog__2-box {
    padding-left: 12px;
    h3 {
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
    }
    p {
        font-size: 12px;
        line-height: 12px;
        color: #000000;
    }
}

.catalog__2-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        display: block;
        font-size: 12px;
        line-height: 12px;
        color: #000;
        padding-left: 10px;
    }
}

.catalog__2-wrapp-inner {
    display: flex;
    align-items: center;
}

.catalog__row-2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: #ffecbe;
    padding: 0 0 0 19px;
}

.catalog__content {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
        padding-bottom: 5px;
    }
    p {
        font-size: 10px;
        line-height: 8px;
        color: #8f5408;
        text-align: center;
    }
    &::after {
        content: url("../../assets/img/line.png");
        position: absolute;
        right: -10px;
        top: 0;
    }
    &:nth-last-child(3)::after {
        content: "";
    }
}

.catalog__prace {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 15px;
    color: #000;
    position: relative;
    right: -40px;
    margin-left: -50px;

    background: url("../../assets/img/catalog-pg-2.png") no-repeat center left 1px,
        url("../../assets/img/catalog-pg-2.png") no-repeat center left 2px,
        url("../../assets/img/catalog-pr.png") no-repeat center center;
}

.catalog__choice {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 12px;
    color: #000;
    background: url("../../assets/img/catalog-ch.png") no-repeat center center, #fff;
}
