.choice {
    padding-top: 30px;
}

.choice__wrapp {
    max-width: 870px;
    margin: 0 auto;
}

.choice__wrapp {
    h3 {
        font-weight: normal;
        line-height: 29px;
        font-size: 29px;
        color: #000;
        text-decoration: underline;
        padding-bottom: 35px;
    }
}

.choice__wrapp-2 {
    max-width: 970px;
    h3 {
        font-family: "a_AvanteBs";
        font-weight: bold;
        text-decoration: none;
    }
}

.choice__wrapp-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}

.choice__inner-box {
    a {
        display: block;

        font-size: 14px;
        line-height: 41px;
        color: #000;
        transition: 0.4s;
        &:hover {
            text-decoration: underline;
            color: #d56409;
        }
    }
}

.choice__wrapp-box {
    h3 {
        padding-bottom: 5px;
    }
    p {
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 25px;
    }
}

@media (max-width: 769px) {
    .choice__wrapp-2 {
        h3 {
            font-family: "Yandex Sans Text";
            font-weight: normal;
            text-decoration: underline;
        }
    }
    .choice__wrapp {
        max-width: 400px;
    }
    .choice__wrapp-inner {
        flex-wrap: nowrap;
        width: 100%;
        flex-direction: column;
        height: 360px;
        .mCSB_scrollTools .mCSB_draggerContainer,
        .mCSB_scrollTools .mCSB_draggerRail {
            width: 12px;
            background: #f7ebd0;
            border-radius: 20px;
        }
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            width: 100%;
            height: 28px;
            background: #fb7000;
        }
    }
}
