.regist {
    margin: 12px 0 60px;
}

.regist__wrapp {
    max-width: 950px;
    margin: 0 auto;
    background: rgba(169, 119, 36, 0.06);
    border-radius: 30px;
    padding: 24px 55px 21px 40px;
}
