<section class="benefits">
    <div class="container">
        <div class="benefits__title">
            Почему стоит
            <span>
                начать работать
            </span>
        </div>
        <div class="benefits__wrapp">
            <div class="benefits__wrapp-inner">
                <img src="./assets/img/b-1.png" alt="">
                <h3>
                    Свободный график
                </h3>
                <p>
                    Работайте тогда, когда вам удобно.<br>
                    Вы сами выстраиваете график своей работы,<br>
                    заявки будут потупать в строго рабочие часы.
                </p>
            </div>
            <div class="benefits__wrapp-inner">
                <img src="./assets/img/b-1.png" alt="">
                <h3>
                    Поддержка и помощь
                </h3>
                <p>
                    Мы обучим всему вас бесплатно, при необходимости<br>
                    выдадим тематические аксессуары и костюмы.<br>
                    На каждом заказе вас ведет оператор.
                </p>
            </div>
            <div class="benefits__wrapp-inner">
                <img src="./assets/img/b-1.png" alt="">
                <h3>
                    Выбирайте любого персонажа
                </h3>
                <p>
                    Сами решаете каким персонажем будите<br>
                    вручать людям подарки.
                </p>
            </div>
            <div class="benefits__wrapp-inner">
                <img src="./assets/img/b-1.png" alt="">
                <h3>
                    Ежедневные выплаты
                </h3>
                <p>
                    Получайте деньги сразу на карту. Никаких задержек,<br>
                    как только вы заказ исполнили - получаете свои деньги.
                </p>
            </div>

        </div>
    </div>
</section>