<section class='catalog'>
    <div class="container">
        <div class="compilation__wrapp">
            <div class="compilation__wrapp-inner compilation-one">
                <h3>
                    Для кого сюрприз
                </h3>
                <p>
                    выберите кому желаете сделать сюрприз
                </p>
                <select>
                    <option>
                        Сестре
                    </option>
                    <option>
                        Сестре
                    </option>
                    <option>
                        Сестре
                    </option>
                </select>
            </div>
            <div class="compilation__wrapp-inner compilation-two">
                <h3>
                    Когда нужен сюрприз
                </h3>
                <p>
                    укажите, дату сюрприза
                </p>
                <div class="compilation__date">
                    <input class='date datepicker-here' type="text" placeholder="22.12.2021">
                    <input class='time' type="text" placeholder="18.40">
                </div>
            </div>
            <div class="compilation__wrapp-inner">
                <a href='#'>Подобрать<br>
                    актера</a>
                <span>
                    из 9320
                </span>
            </div>
        </div>
        <div class="catalog__wrapp">
            <h3>
                Выберайте персонажа
            </h3>
            <div class="catalog__wrapp-inner">
                <div class="catalog__wrapp-list">
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Мужчина в костюме
                        </p>
                    </label>

                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Девушка в деловом костюме
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Военный
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Рокер
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Девушка врач
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Стриптизер
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Бодибилдер
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Стерва в коженке
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Спецназ
                        </p>
                    </label>
                </div>
                <div class="catalog__wrapp-list">
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            ДПС
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Вульгарная дама
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Тайный поклонник (ца)
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Серьезный человек
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Пожарный
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Клоун оно
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Студентка
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Ботаник
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Купидон
                        </p>
                    </label>

                </div>
                <div class='catalog__wrapp-list'>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Хип хоп щик щица
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Рэпер
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Мишка Тэдди
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Сантехник
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Музыкант
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Телохранитель
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Стюардесса
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Шоумен
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Строитель
                        </p>
                    </label>

                </div>
                <div class="catalog__wrapp-list">
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Сосед / соседка
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            ВДВ шник
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Гитарист
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Фокусник
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Папуас
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Невеста
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Пародия: знаменитостей
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            VIP поздравление
                        </p>
                    </label>
                    <label class="catalog__label">
                        <input class="catalog__label-check" type="checkbox">
                        <p>
                            Телеканал
                        </p>
                    </label>
                </div>
            </div>

            <div class="catalog__card">
                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>

                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


                <div class="catalog__card-box">
                    <div class="catalog__box-img">
                        <div class="catalog__img-inner">
                            <a href="./assets/img/catalog-1.jpg">
                                <img src="./assets/img/catalog-1.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-2.jpg">
                                <img src="./assets/img/catalog-2.jpg" alt="">
                            </a>
                            <a href="./assets/img/catalog-3.jpg">
                                <img src="./assets/img/catalog-3.jpg" alt="">
                            </a>
                        </div>
                        <a href="./assets/img/catalog-4.jpg">
                            <img src="./assets/img/catalog-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="catalog__box-inner">
                        <div class="catalog__row-1">
                            <div class="catalog__col-1">
                                <h3>
                                    Бэтман в плаще
                                </h3>
                                <span>
                                    Категория: дети
                                </span>
                                <p>
                                    Увлекательный персонаж детских фильмов,яркий
                                    образ с изумительным актерством. Большой темный
                                    костюм и яркие краски. Я самый вежливый и очень...
                                </p>
                            </div>
                            <div class="catalog__col-2">
                                <div class="catalog__2-inner">
                                    <img src="./assets/img/catalog-5.jpg" alt="">
                                    <div class="catalog__2-box">
                                        <h3>
                                            Петров Дмитрий
                                            Иванович
                                        </h3>
                                        <p>
                                            26 лет
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__2-wrapp">
                                    <div class="catalog__2-wrapp-inner">
                                        <img src="./assets/img/star-gold.svg" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star-gold.svg"" alt="">
                                        <img src="./assets/img/star-gold.svg"" alt="">
                                        <img src=" ./assets/img/star.svg"" alt="">
                                        <span>8.7</span>
                                    </div>
                                    <span>
                                        Вручений: 7120
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="catalog__row-2">
                            <div class="catalog__content">
                                <img src="./assets/img/catalog-6.svg" alt="">
                                <p>
                                    разрешено<br>
                                    фото
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-7.png" alt="">
                                <p>
                                    есть<br>
                                    эффекты
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-8.svg" alt="">
                                <p>
                                    передача<br>
                                    сообщения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-9.svg" alt="">
                                <p>
                                    минут<br>
                                    вручения
                                </p>
                            </div>
                            <div class="catalog__content">
                                <img src=" ./assets/img/catalog-10.svg" alt="">
                                <p>
                                    выбор<br>
                                    сценария
                                </p>
                            </div>
                            <div class="catalog__prace">
                                1700 P
                            </div>
                            <a href='#' class="catalog__choice">
                                Выбрать
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
</section>