<section class="choice">
    <div class="container">
        <div class="choice__wrapp">
            <h3>
                Выберайте персонажа
            </h3>
            <div class="choice__wrapp-inner">
                <div class="choice__inner-box">
                    <a href="#">
                        Мужчина в костюме
                    </a>
                    <a href="#">
                        Девушка в деловом костюме
                    </a>
                    <a href="#">
                        Военный
                    </a>
                    <a href="#">
                        Рокер
                    </a>
                    <a href="#">
                        Девушка врач
                    </a>
                    <a href="#">
                        Стриптизер
                    </a>
                    <a href="#">
                        Бодибилдер
                    </a>
                    <a href="#">
                        Стерва в коженке
                    </a>
                    <a href="#">
                        Спецназ
                    </a>
                </div>
                <div class="choice__inner-box">
                    <a href="#">
                        ДПС
                    </a>
                    <a href="#">
                        Вульгарная дама
                    </a>
                    <a href="#">
                        Тайный поклонник (ца)
                    </a>
                    <a href="#">
                        Серьезный человек
                    </a>
                    <a href="#">
                        Пожарный
                    </a>
                    <a href="#">
                        Клоун оно
                    </a>
                    <a href="#">
                        Студентка
                    </a>
                    <a href="#">
                        Ботаник
                    </a>
                    <a href="#">
                        Купидон
                    </a>
                </div>
                <div class='choice__inner-box'>
                    <a href="#">
                        Хип хоп щик щица
                    </a>
                    <a href="#">
                        Рэпер
                    </a>
                    <a href="#">
                        Мишка Тэдди
                    </a>
                    <a href="#">
                        Сантехник
                    </a>
                    <a href="#">
                        Музыкант
                    </a>
                    <a href="#">
                        Телохранитель
                    </a>
                    <a href="#">
                        Стюардесса
                    </a>
                    <a href="#">
                        Шоумен
                    </a>
                    <a href="#">
                        Строитель
                    </a>
                </div>
                <div class="choice__inner-box">
                    <a href="#">
                        Сосед / соседка
                    </a>
                    <a href="#">
                        ВДВ шник
                    </a>
                    <a href="#">
                        Гитарист
                    </a>
                    <a href="#">
                        Фокусник
                    </a>
                    <a href="#">
                        Папуас
                    </a>
                    <a href="#">
                        Невеста
                    </a>
                    <a href="#">
                        Пародия: знаменитостей
                    </a>
                    <a href="#">
                        VIP поздравление
                    </a>
                    <a href="#">
                        Телеканал
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>