<section class="compilation">
    <div class="container">
        <div class="compilation__wrapp">
            <div class="compilation__wrapp-inner compilation-one">
                <h3>
                    Для кого сюрприз
                </h3>
                <p>
                    выберите кому желаете сделать сюрприз
                </p>
                <select>
                    <option>
                        Сестре
                    </option>
                    <option>
                        Сестре
                    </option>
                    <option>
                        Сестре
                    </option>
                </select>
            </div>
            <div class="compilation__wrapp-inner compilation-two">
                <h3>
                    Когда нужен сюрприз
                </h3>
                <p>
                    укажите, дату сюрприза
                </p>
                <div class="compilation__date">
                    <input class='date datepicker-here' type="text" placeholder="22.12.2021">
                    <input class='time' type="text" placeholder="18.40">
                </div>
            </div>
            <div class="compilation__wrapp-inner">
                <h4>Подобрать<br>
                    актера</h4>
                <span>
                    из 9320
                </span>
            </div>
        </div>
    </div>
</section>