<section class="descript">
    <div class="container">
        <div class="descript__wrapp">
            <div class="descript__wrapp-inner">
                <h3>
                    Что такое <span>
                        WOOWS
                    </span><br>
                    как работает сервис
                </h3>
                <p>
                    Первый сервис по вручению подарков акётрами по всей России.
                    Основная цель - дарим эмоции людям, вручая как подарки сервиса
                    или личные от актером или уже имеющиеся у заказчиков.
                    Вручение подарков происходит по разным сценариям от самых
                    ярких акётров с доставкой на дом.

                </p>
                <p>
                    Наш сервис сотрудничает с сотнями партнерами-продавцами
                    цветов и подарков, мы являемся одним из лидеров услуг
                    в сфере праздников. Каждый день активно добавляем новый
                    ассортимент подарков и персонажей, развиваемся и выходим
                    на все возможные площадки.
                </p>
            </div>
            <div class="descript__img">
                <img class="descript__img-1" src="../../assets/img/desc-1.png" alt="">
                <img class="descript__img-2" src="../../assets/img/desc-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>