<div class="footer">
    <div class="container">
        <div class="footer__conteiner">
            <div class="footer__wrapp">
                <h3>
                    Сервис WOOWS
                </h3>
                <div class="footer__wrapp-inner">
                    <a href="#">
                        О сервисе
                    </a>
                    <a href="#">
                        Доставка подарка
                    </a>
                    <a href="#">
                        Оплата заказа
                    </a>
                    <a href="#">
                        Возврат подарка
                    </a>
                </div>
                <div class="footer__wrapp-inner">
                    <a href="#">
                        Наши контакты
                    </a>
                    <a href="#">
                        Партнерам
                    </a>
                    <a href="#">
                        Стать актером
                    </a>
                    <a href="#">
                        Правовая информация
                    </a>
                </div>
            </div>

            <div class="footer__wrapp">
                <h3>
                    Контакты
                </h3>
                <div class="footer__wrapp-box">
                    <a href="mailto:info@woows.ru">info@woows.ru</a>
                    <p>Офис: г.Екатеринбург, ул.Красноармейская 92а, 129</p>
                    <p>Часы приема: Пн-Вс 1000 - 2000</p>
                </div>
                <div class="footer__wrapp-contact">
                    <a href="tel:83432271600"><span>8 (343)</span> 227-16-00</a>
                    <div class="footer__contact">
                        <a class='contact-tell' href="#">Заказать звонок </a>
                        <a class='contact-mail' href="#">
                            Написать сообщение
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__wrapp-two">
                <div class="footer__two-inner">
                    <div class="footer__inner-box">
                        <h3>
                            Статус заказа
                        </h3>
                        <p>
                            укажите номер, <br>
                            и узнайте статус
                        </p>
                    </div>
                    <img class="footer__two-img" src="./assets/img/balls.png" alt="">
                </div>
                <div class="footer-status">
                    <input class='footer__status-input' type="text" placeholder="номер заказа">
                    <button class='footer__btn'>
                        <img src="./assets/img/footer__btn.png" alt="">
                    </button>
                </div>

                <img class='footer__two-img-two' src="./assets/img/box.png" alt="">
            </div>
        </div>

        <div class="copyright">
            <p>
                © 2020г. - Woows.ru (Ваус) дарим искренние эмоции дорогим людям.
            </p>
            <p>
                Полное или частично копирование материала запрещено.
            </p>
        </div>
    </div>
</div>