<header class="header-2">
    <div class="container">
        <div class="header-2__wrapp">
            <a href="#" class="logo-2">
                <img src="./assets/img/logo-2.png" alt="">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-inner">
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Условия
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Вопрос - Ответ
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Задать вопрос
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu__burger menu-2">
                <span class='menu__burger-line'></span>
            </div>
        </div>
        <div class="mob">
            <div class="mob__menu">
                <div class="mob__header">
                    <a href="#" class="header__map map">
                        Екатеринбург
                    </a>
                    <a href="#" class="header__prof prof">
                        Мой профиль
                        <span>
                            2
                        </span>
                    </a>
                </div>
                <nav class="mob__nav">
                    <ul class="mob__list">
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Главная
                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Вопросы-Ответы
                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Регистрация актером
                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                О сервисе
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="mob__footer">
                    <h3>
                        Служба поддержки
                        <span>
                            работает!
                        </span>
                    </h3>
                    <a class='mob-link' href="tel:73432271600"> <span>+7 (343)</span> 227-16-00</a>

                    <div class="footer__contact mob__footer-inner">
                        <a class='contact-tell' href="#">Заказать звонок </a>
                        <a class='contact-mail' href="#">
                            Написать сообщение
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>