<header class="header">

    <div class="container header__container">
        <div class="header__wrapp">
            <a href="#" class="logo">
                <img src="./assets/img/logo.png" alt="">
            </a>
            <div class="header__wrapp-box">
                <a href="#" class="header__map map">
                    Екатеринбург
                </a>
                <a href="#" class="header__prof prof">
                    Мой профиль
                    <span>
                        2
                    </span>
                </a>
            </div>
            <div class="header__wrapp-tell">
                <a href="tel:83432271600" class="header__tell">
                    <span>8 (343)</span> 227-16-00
                </a>
                <a href="#" class="header__tell-link">
                    Заказать звонок
                </a>
            </div>

            <div class="menu__burger">
                <span class='menu__burger-line'></span>
            </div>
        </div>
        <div class="header__inner">
            <div class="header__inner-box">
                <a href="#" class="header__inner-link header__inner-one">
                    Выбрать<br>
                    актера
                </a>
                <a href="#" class="header__inner-link header__inner-two">
                    Последние<br>
                    подаренные эмоции
                </a>
                <a href="#" class="header__inner-link header__inner-three">
                    Наши <br>
                    актеры
                </a>
                <a href="#" class="header__inner-link header__inner-four">
                    Стать<br>
                    актером
                </a>
            </div>
            <form action="/" class="header__form">
                <input type="search" class="header__form-input" placeholder="Для кого сюрприз?  ">
                <button class="header__form-btn">
                    <img src="./assets/img/search.png" alt="">
                </button>
            </form>
        </div>

        <div class="mob">
            <div class="mob__menu">
                <div class="mob__header">
                    <a href="#" class="header__map map">
                        Екатеринбург
                    </a>
                    <a href="#" class="header__prof prof">
                        Мой профиль
                        <span>
                            2
                        </span>
                    </a>
                </div>
                <nav class="mob__nav">
                    <ul class="mob__list">
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Выбрать актера
                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Последний эмоции

                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Наши актеры

                            </a>
                        </li>
                        <li class="mob__list-inner">
                            <a class='mob__list-link' href="#">
                                Стать актером
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="mob__footer">
                    <h3>
                        Служба поддержки
                        <span>
                            работает!
                        </span>
                    </h3>
                    <a class='mob-link' href="tel:73432271600"> <span>+7 (343)</span> 227-16-00</a>

                    <div class="footer__contact mob__footer-inner">
                        <a class='contact-tell' href="#">Заказать звонок </a>
                        <a class='contact-mail' href="#">
                            Написать сообщение
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</header>