<header class="header">

    <div class="container header__container">
        <div class="header__wrapp">
            <a href="#" class="logo">
                <img src="./assets/img/logo.png" alt="">
            </a>
            <div class="header__wrapp-box">
                <a href="#" class="header__map map">
                    Екатеринбург
                </a>
                <a href="#" class="header__prof prof">
                    Мой профиль
                    <span>
                        2
                    </span>
                </a>
            </div>
            <div class="header__wrapp-tell">
                <a href="tel:83432271600" class="header__tell">
                    <span>8 (343)</span> 227-16-00
                </a>
                <a href="#" class="header__tell-link">
                    Заказать звонок
                </a>
            </div>

            <div class="menu__burger">
                <span class='menu__burger-line'></span>
            </div>
        </div>
        <div class="header__inner">
            <div class="header__inner-box">
                <a href="#" class="header__inner-link header__inner-one">
                    Выбрать<br>
                    актера
                </a>
                <a href="#" class="header__inner-link header__inner-two">
                    Последние<br>
                    подаренные эмоции
                </a>
                <a href="#" class="header__inner-link header__inner-three">
                    Наши <br>
                    актеры
                </a>
                <a href="#" class="header__inner-link header__inner-four">
                    Стать<br>
                    актером
                </a>
            </div>
            <form action="/" class="header__form">
                <input type="search" class="header__form-input" placeholder="Для кого сюрприз?  ">
                <button class="header__form-btn">
                    <img src="./assets/img/search.png" alt="">
                </button>
            </form>
        </div>

    </div>
</header>