<header class="header-2">
    <div class="container">
        <div class="header-2__wrapp">
            <a href="#" class="logo-2">
                <img src="./assets/img/logo-2.png" alt="">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-inner">
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Условия
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Вопрос - Ответ
                        </a>
                    </li>
                    <li class="nav__list-inner">
                        <a href="#">
                            Задать вопрос
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu__burger menu-2">
                <span class='menu__burger-line'></span>
            </div>
        </div>
    </div>
</header>