<section class="info">
    <div class="container">
        <div class="info__wrapp">
            <div class="info__wrapp-inner">
                <h3>
                    Выплаты каждый день
                </h3>
                <p>
                    Получайте выплаты за вручение подарков ежедневно.
                    Комиссия сервиса составляет 30%, лучшим актерам снижаем
                    до 20%.
                </p>
                <div class='info-content'>
                    Для постоянной работы с нашим сервисом, необходимо
                    быть самозанятым лицом. Мы поможем тебе с этим.
                </div>
                <p>
                    Размер заработка зависит от вашего графика
                    и персонажей, которые вы выбрали.
                </p>
                <h4>
                    ~ 35 000 p. / мес.<br>
                    <span>
                        средний доход 1 актера на 22.10.2021
                    </span>
                </h4>
            </div>
            <img src="./assets/img/info-4.png" alt="">
        </div>
    </div>
</section>