<section class="jobs">
    <div class="container jobs__conteiner">
        <div class="jobs__conteiner-box">
            <img src="./assets/img/jobs-1.png" alt="">
            <div class="jobs__box-inner">
                <span>
                    твоя работа мечты
                </span>
                <h3>
                    СТАНЬ АКТЕРОМ!
                </h3>
                <p>
                    Дари эмоции людям
                </p>
            </div>
        </div>
        <div class="jobs__conteiner-box-two">
            <p>
                Работай по своему графику
            </p>
            <p>
                Создавай свои образы
            </p>
            <button class="jobs__btn">
                Подробнее
            </button>
        </div>
        <div class="jobs__conteiner-box-three">
            <img class='jobs__three-img-one' src="./assets/img/jobs-2.png" alt="">
            <img class='jobs__three-img-two' src="./assets/img/jobs-4.png" alt="">
            <img class='jobs__three-img-three' src="./assets/img/jobs-3.png" alt="">
        </div>
    </div>
</section>