<div class="main">
    <div class="container main__container">
        <div class="main__title">
            <h2>
                Дарим эмоции
            </h2>
            <h1>
                дорогим людям
            </h1>
            <p>
                Сервис вручения подарков актёрами
            </p>
        </div>
        <div class="slaider__one">
            <div>
                <div class="slaider__one-box slaider__one-box-one ">
                    <img src="./assets/img/main-1.png" alt="">
                    <h3>
                        Укажите кого хотите
                        порадовать
                    </h3>
                    <p>
                        Муж или жена, родители, друзья или брату, сестре.
                    </p>
                    <p>
                        Мы вручаем подарки всем, можно
                        оформить вручение анонимно.
                    </p>
                </div>
            </div>
            <div>
                <div class="slaider__one-box slaider__one-box-two">
                    <img src="./assets/img/main-2.png" alt="">
                    <h3>
                        Соберите подарок или приложите свой, укажите выберите актера
                    </h3>
                    <p>
                        Собирайте подарок без лишних хлопот, выбирайте любого актера
                        на вашу дату.

                    </p>
                    <p>
                        Если уже есть подарок - то курьер его заберет и актер вручит.
                    </p>
                </div>
            </div>

            <div>
                <div class="slaider__one-box slaider__one-box-three">
                    <img src="./assets/img/main-3.png" alt="">
                    <h3>
                        Точно в указанный срок
                        ваш<br> подарок вручит<br>
                        наш актер
                    </h3>
                    <p>
                        Точно в срок, по указанному адресу прибудет наш актер и красиво выполнит свою работу.

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>