<main class="main-2">
    <div class="container">
        <div class="main-2__wrapp">
            <div class="main-2__wrapp-box">
                <h1>
                    Стань <span>
                        актером
                    </span><br>
                    и <span>зарабатывай</span><br>
                    в свободное время
                </h1>
                <a href="#" class="btn-reg">
                    Регистрация
                </a>
            </div>
            <div class="main-2__wrapp-inner">
                <img src="./assets/img/actor.png" alt="">
                <div class="main-2__inner-1">
                    <img src="./assets/img/main__in-1.png" alt="">
                    <p>
                        Выбор персонажей
                    </p>
                </div>
                <div class="main-2__inner-2">
                    <p>Свободный график</p>
                    <img src="./assets/img/main__in-2.png" alt="">
                </div>
                <div class="main-2__inner-3">
                    <img src="./assets/img/main__in-3.png" alt="">
                    <p>
                        Ежедневные
                        выплаты<br>
                        <span>от 500 руб.</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>