<section class="regist">
    <div class="container">
        <div class="regist__wrapp">
            <h3>
                Регистрация на сервисе
            </h3>
            <form action="/" class="regist__wrapp-inner">

                <div class="regist__wrapp-col">
                    <h4>
                        Фамилия Имя Отчество
                    </h4>
                    <input type="text" placeholder="Прохорова Ирина Владимировна">
                    <h4>
                        Мобильный телефон
                    </h4>
                    <input type="tel" placeholder="+7 (919) 367 06 25">
                    <h4>
                        Email
                    </h4>
                    <input type="email" placeholder="name@mail.com">

                    <h4>
                        Статус занятости
                    </h4>
                    <select>
                        <option>
                            Трудоустроен(а)
                        </option>
                        <option>
                            Трудоустроен(а)
                        </option>
                        <option>
                            Трудоустроен(а)
                        </option>
                    </select>
                    <h4>
                        Наличие автомобиля
                    </h4>
                    <select>
                        <option>
                            Есть своё авто
                        </option>
                        <option>Есть своё авто</option>
                        <option>Есть своё авто</option>
                    </select>
                </div>
                <div class="regist__wrapp-col">
                    <div class="regist__col-inner">
                        <img src="./assets/img/reg.png" alt="">
                        <div class="regist__col-box">
                            <h3>
                                Ваша фотография
                            </h3>

                            <p>
                                Четкая фотография, где изображены только вы.
                            </p>
                            <label class='load'>
                                Выбрать
                                <input type="file">
                            </label>

                        </div>
                    </div>
                    <h4>
                        Расскажите о себе
                    </h4>
                    <textarea class='textarea' placeholder="Учавствовал в кружках творчества, активен."></textarea>
                    <button class='reg-btn' type='submit'></button>
                </div>
            </form>
            <div class="regist-content">
                Ваши данные защищены. Мы не передаем данные третьим лицам.
                Указывая данные, вы подтверждаете обработку нашим сервисом и согласны <a href="#">с правилами
                    пользователя.</a>
                Регистрация возможно только единожды для одного человека.
            </div>
        </div>
    </div>
</section>