<section class="review">
    <div class="container review__container">
        <div class="review__wrapp">
            <h3>
                Последние эмоции
            </h3>
            <a href="#"> подаренные сегодня</a>
            <p>
                Эти вручения подарков в Екатеринбурге<br>
                сегодня, нашими актерами.
            </p>
            <button class="btn review-btn">
                Смотреть все
            </button>
        </div>
        <div class="slaider__two">
            <div class="slaider__two-conteiner">
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/rew-1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/s1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="slaider__two-conteiner">
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/s2.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/s3.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="slaider__two-conteiner">
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/rew-1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/s1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="slaider__two-conteiner">
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/rew-1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
                <a href="#" class="slaider__two-box">
                    <div class="slaider__two-fon">
                        <img src="./assets/img/sea.svg" alt="">
                    </div>
                    <img src="./assets/img/s1.jpg" alt="">
                    <div class="slaider__two-inner">
                        <h3>День рождения</h3>
                        <span>
                            10.11.2021 16:00
                        </span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>