<section class="schema">
    <div class="container">
        <div class="schema__wrapp">
            <div class="schema__title">
                Схема работы<br>
                <span>
                    на сервисе
                </span>
            </div>
            <div class="schema__wrapp-inner">
                <img src="./assets/img/sc-1.png" alt="">
                <div class="schema__wrapp-box">
                    <h3>
                        Регистрация<br>
                        в качестве актера.
                    </h3>
                    <p>
                        Подайте заявку, выберите персонажей.<br>
                        Пройдите подтвеждение, оформим договор.
                    </p>
                    <a href="#">
                        Регистрация
                    </a>
                </div>
            </div>
            <div class="schema__wrapp-inner">
                <img src="./assets/img/sc-2.png" alt="">
                <div class="schema__wrapp-box">
                    <h3>
                        Получайте заказы<br>
                        под ваш график.
                    </h3>
                    <p>
                        Подайте заявку, выберите персонажей.<br>
                        Пройдите подтвеждение,<br>
                        оформим договор.
                    </p>
                </div>
            </div>
            <div class="schema__wrapp-inner">
                <img src="./assets/img/sc-3.png" alt="">
                <div class="schema__wrapp-box">
                    <h3>
                        Вручайте подарки<br>
                        получайте деньги.
                    </h3>
                    <p>
                        В указанные сроки, вручайте подарки.<br>
                        Получайте 70% от суммы на карточку.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>