<section class="status">
    <div class="container">
        <div class="status__wrapp">
            <div class="status__wrapp-inner">
                <span>
                    98
                </span>
                <h3>
                    вручено подарков<br>
                    сегодня
                </h3>
            </div>
            <div class="status__wrapp-inner">
                <span>
                    103
                </span>
                <h3>
                    будет вручено подарков<br>
                    завтра
                </h3>
            </div>
            <div class="status__wrapp-inner">
                <span>
                    8991

                </span>
                <h3>
                    вручено подарков
                    за<br> все время
                </h3>
            </div>
        </div>
        <img class='status-img' src="./assets/img/status.png" alt="">
        <div class="status__page">
            <div class="status__page-box">
                <img src="./assets/img/status-1.png" alt="">
                <div class="status__page-inner">
                    <h3>
                        Все актеры<br>
                        с лучшими навыками
                    </h3>
                    <p>
                        К себе в команду мы берем только<br>
                        лучших актеров, которые способны<br>
                        дарить самые яркие эмоции
                    </p>
                </div>
            </div>
            <div class="status__page-box">
                <img src="./assets/img/status-2.png" alt="">
                <div class="status__page-inner">
                    <h3>
                        Отличный сервис<br>
                        наших услуг
                    </h3>
                    <p>
                        Постоянный контроль наших<br>
                        услуг, на всех этапах.<br>
                        Красивые и вежливые актеры,<br>
                        удобный и приятный сервис.
                    </p>
                </div>
            </div>
            <div class="status__page-box">
                <img src="./assets/img/status-3.svg" alt="">
                <div class="status__page-inner">
                    <h3>
                        Соблюдаем<br>
                        сроки
                    </h3>
                    <p>
                        Мы ценим каждое событие,<br>
                        и вручаем подарки точно<br>
                        в срок без опозданий.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>