@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/slick.scss";
@import "../sass/vendor/jquery.timepicker.min.scss";
@import "../sass/vendor/datepicker.min.scss";
@import "../sass/vendor/magnific-popup.scss";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Yandex Sans Text";
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/*-bootstrap-*/
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/_containers";

/*-blocks-*/
@import "../sass/blocks/page.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/burger.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/compilation.scss";
@import "../sass/blocks/status.scss";
@import "../sass/blocks/review.scss";
@import "../sass/blocks/slaider__option.scss";
@import "../sass/blocks/choice.scss";
@import "../sass/blocks/jobs.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/header__two.scss";
@import "../sass/blocks/main__two.scss";
@import "../sass/blocks/descript.scss";
@import "../sass/blocks/benefits.scss";
@import "../sass/blocks/schema.scss";
@import "../sass/blocks/info.scss";
@import "../sass/blocks/regist.scss";
